.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 50px 50px 20px 50px;
}
#block {
  border: 2px solid black;
  background-color: white;
  width: 700px;
  height: 800px;
  font-size: large;
  border-radius: 20px;
  padding: 18px 22px;
}
#container-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  width: 20%;
  height: 45px;
  padding: 18px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
}
#inner-topic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  width: 40%;
}
input{
  width: 100%;
  height: 24px;
}
.other-regis{
  margin-top: 5px;
  margin-bottom: 10 px;
}
.other-regis img{
  margin: 10px;
}
#response-text {
  color: red;
  font-size: 16px;
}
@media only screen and (max-width:450px) {
  .other-regis a{
    margin-right: 8px;
  }
  .other-regis a img{
    width: 30px;
  }
  .clickToRegis{
    font-size: 14px;
  }
  #inner-topic{
    width: 65%;
    
  }
  #inner-topic label{
    font-size: 14px;
  }
  #container-login button{
    width: 50%;
    height: 14px;
    font-size: 14px;
  }
  #container-login p{
    font-size: 14px;
  }
  #container-login h2{
    font-size: 20px;
  }
  
}