nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
nav img:hover {
    text-shadow: 2px 2px 2px black;
}
nav a{
    margin-top: 11px;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 800;
}
nav a:hover{
    margin-bottom: 7px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.73);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.741);
    color: rgba(0, 0, 0, 0.837);
}
.section-authen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.section-authen button{
    width: 126px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #D9D9D9;
    color: black;
    font-weight: 800;
}
.section-authen button:hover{
    background-color: #434141;
    color: white;
}
.section-authen  a:hover{
    border-bottom: none;
    text-decoration: underline;
    text-shadow: 4px 4px 4px rgba(120, 120, 118, 0.741);
}
.a-register{
    margin-top: 0px;
    text-decoration: none;
    color: black;
    padding: 0px;
    font-weight: 800;
}
.a-register:hover{
    margin-bottom: 0px;
    border-bottom: none;
    text-decoration: none;
}
.logout-button {
    display: none;
    border: 2px solid ;
}
.logout-button:hover {
    color: rgb(234, 36, 36);
    cursor: pointer;
    border-bottom: 3px solid rgb(234, 36, 36);
}